.navbarWrapper {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: white;
  height: 64px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.08);
}

.navbarList {
  list-style: none;
  color: black;
  font-weight: bold;
  display: flex;
  gap: 0.2rem;
}
