.navbarWrapper {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: white;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.08);
}

.navbarList {
  list-style: none;
  font-weight: bold;
  height: 64px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
}
